.contact {
  @include section;
  min-height: auto;
  background-color: $dark;
}

.contact .container {
  padding-bottom: 150px;
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
  }

  form {
    background-color: $background;
    width: 600px;
    padding: 20px;
    margin: 10px;

    border-radius: 10px;
    // border: 1px solid $gray2;
    box-shadow: $boxShadowlight;
    font-family: $ff2;
    font-weight: 500;
    font-size: 1.1rem;

    .error {
      text-align: center;
      color: $light;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        margin: 5px 0;
      }

      input {
        border: 1px solid #888;
        outline: none;
        padding: 8px;
        border-radius: 5px;
        font-family: $ff2;
        font-weight: 500;
        font-size: 1.05rem;
      }

      textarea {
        @extend input;
        min-width: 100%;
        min-height: 100px;
      }
    }

    .btn-submit {
      margin: 10px 0;
      width: 100%;
    }
  }

  .success-message {
    @extend form;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin: 110px 0;
  }

  @media (max-width: $md) {
    form {
      width: 350px;
      padding: 10px;
    }
  }

  @media (max-width: $xs) {
    form {
      width: 280px;
    }
  }
}
