.main.lightmode {
  @include lightmode;

  .scrollup {
    background-color: $background;
    i {
      color: $light;
    }

    &:hover {
      background-color: $lightBackground;

      i {
        color: $dark;
      }
    }
  }

  nav {
    background-color: $lightBackground;

    .nav-brand {
      text-shadow: $textShadow;
    }

    .nav-link {
      &::after {
        background-color: $dark !important;
      }
    }

    @media (max-width: $md) {
      .nav-collapse {
        background-color: $light;

        .mode {
          i {
            color: $dark !important;
            cursor: pointer;
          }
        }
      }
    }
  }

  .skills {
    background-color: $light;

    .skill {
      background-color: $lightBackground;
      border: 1px solid $gray3;

      &:hover {
        box-shadow: 1px 1px 5px $dark, -1px -1px 5px $dark;
      }
    }
  }

  .card {
    background-color: $white;

    &:hover {
      border: 2px solid $background;
    }

    .card_footer {
      a {
        color: $dark !important;
      }
      .tag {
        background-color: $lightBackground !important;
        &:hover {
          background-color: $gray !important;
          a {
            color: $white !important;
          }
        }
      }
    }
  }

  .contact {
    background-color: $light;

    form {
      background-color: $lightBackground;
      box-shadow: $boxShadow;

      .error {
        color: $dark;
      }
    }
  }

  .btn:hover {
    background-color: $gray;
  }

  footer {
    background-color: $lightBackground;
    color: $dark !important;
    i {
      color: $dark;
      &:hover {
        color: $gray1;
      }
    }
  }
}
