.skills {
  @include section;
  background-color: $dark;
}

.heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (max-width: $sm) {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
}

.container {
  max-width: $maxWidth;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: $ff2;
  padding: 20px;

  .skill {
    background-color: $background;
    padding: 20px;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 5px;

    &:hover {
      box-shadow: 1px 1px 5px $light, -1px -1px 5px $light;
    }
  }

  @media (max-width: $sm) {
    padding: 15px;
    .skill {
      font-size: 1.1rem;
      padding: 18px;
    }
  }
}
